@model Matissa.Models.Rol

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="/css/roles/Roles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
<div class="container-fluid titulo-roles">
    <div class="row">
        <div class="col-6 mx-auto">
            <h1 class="">Crear rol</h1>
        </div>
    </div>
</div>
<form asp-action="Create">

    <div class="container-fluid text-center texto-quicksand p-5">
        <div class="row">
            <div class="col">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <label asp-for="IdRol" class="control-label"></label>
                <input asp-for="IdRol" class="form-control rounded-pill" />
                <span asp-validation-for="IdRol" class="text-danger"></span>
                @* <div>
                <input type="text" asp-for="NombreRol" placeholder="Nombre Rol" id="nombreRol" class="form-control text-center">
                </div> *@
            </div>
            <div class="col">
                <label asp-for="NombreRol" class="control-label"></label>
                <input asp-for="NombreRol" class="form-control rounded-pill" />
                <span asp-validation-for="NombreRol" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control rounded-pill" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group text-center p-3">
                    <div class="d-flex justify-content-center align-items-center">
                        <a asp-action="Index">
                            <input type="button" class="btn cancel-btn rounded-pill align-self-center" value="Cancelar" />
                            <input type="submit" value="Guardar" class="btn acept-btn rounded-pill mr-2 align-self-center" />
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>