@model Matissa.Models.Rol

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="/css/roles/Roles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
<div class="container-fluid titulo-roles">
    <div class="row">
        <div class="col-6 mx-auto">
            <h1 class="">Editar rol</h1>
        </div>
    </div>
</div>
<form asp-action="Edit" class="mt-5">
    <div class="container-fluid text-center p-3 texto-quicksand">
        <div class="row">
            <div class="col">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdRol" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <strong>
                    <label asp-for="NombreRol" class="control-label"></label>
                    <input asp-for="NombreRol" class="form-control rounded-pill" />
                    <span asp-validation-for="NombreRol" class="text-danger"></span>
                </strong>
            </div>
            <div class="col">
                <strong>
                    <label asp-for="Estado" class="control-label"></label>
                    <input asp-for="Estado" class="form-control rounded-pill" />
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </strong>
            </div>
        </div>
        <div class="row">
            <div class="form-group text-center p-3">
                <div class="d-flex justify-content-center align-items-center">
                    <a asp-action="Index">
                        <input type="button" class="btn cancel-btn rounded-pill align-self-center" value="Cancelar" />
                        <input type="submit" value="Guardar" class="btn acept-btn rounded-pill mr-2 align-self-center" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>


